<%= render partial: "shared/login", layout: "shared/modal", locals: { title: "Log in", id: "modal-login" } %>
<%= render partial: "shared/signup", layout: "shared/modal", locals: { title: "Sign up", id: "modal-signup" } %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 px-0" id="editor">
      <input type="hidden" id="code" value="<%= @doc&.code %>">
    </div>
    <div class="col-lg-6">
      <div class="m-3 p-3 bg-light" id="panel">
        <div class="d-flex">
          <% if current_user %>
            <div class="text-secondary mt-2">
              🖖 Welcome, <%= current_user.username %>!
            </div>
            <div class="ml-auto">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
            </div>
          <% else %>
            <div class="text-secondary mt-2">
              👋 Hi, log in to save a document!
            </div>
            <div class="ml-auto">
              <a href class="btn btn-secondary" data-toggle="modal" data-target="#modal-login">Log in</a>
              <a href class="btn btn-secondary" data-toggle="modal" data-target="#modal-signup">Sign up</a>
            </div>
          <% end %>
        </div>
        <div class="d-flex mt-3">
          <label for="mode" class="col-form-label">Mode</label>
          <select id="mode" class="custom-select w-auto ml-3">
            <option <%= "selected" if @doc&.program? %> value="program" selected>Program</option>
            <option <%= "selected" if @doc&.library? %> value="library">Library</option>
            <option <%= "selected" if @doc&.doc_only? %> value="doc_only">Doc-only</option>
          </select>
          <button class="btn btn-primary ml-auto" id="render">Render</button>
        </div>
        <div class="d-flex mt-1" id="providing">
          <label for="provide-factory" class="col-form-label">Providing</label>
          <input id="provide-factory" class="form-control flex-grow-1 ml-3"
                 placeholder="a factory which can be opened for doc-only use"
                 value="<%= @doc&.provide_factory %>">
        </div>
        <div class="d-flex mt-1" id="requiring">
          <label for="require-library" class="col-form-label">Requiring</label>
          <input id="require-library" class="form-control flex-grow-1 ml-3"
                 placeholder="a library which provides a factory"
                 value="<%= @doc&.require_library %>">
        </div>
        <% if user_signed_in? %>
          <div class="d-flex flex-wrap mt-3">
            <select <%= "disabled" if @doc && @doc.user != current_user %> id="access" class="custom-select w-auto">
              <option <%= "selected" if @doc&.open? %> value="open">Open (anyone can edit)</option>
              <option <%= "selected" if @doc&.pub? %> value="pub">Pub (uneditable to others)</option>
              <option <%= "selected" if @doc&.priv? %> value="priv">Priv (invisible to others)</option>
            </select>
            <div class="ml-auto">
              <% if @doc %>
                <% if @doc.user == current_user %>
                  <%= link_to "Delete", "/docs/#{@doc.name}", class: "btn btn-danger",
                      method: :delete, data: { confirm: "Are you sure to delete this document?" } %>
                <% end %>
                <% if @doc.open? || @doc.user == current_user %>
                  <button class="btn btn-success" id="save">Save</button>
                <% end %>
              <% end %>
              <button class="btn btn-outline-success" id="save-as">Save as...</button>
            </div>
          </div>
        <% end %>
        <div class="row">
          <small class="text-secondary ml-auto" id="saved"></small>
        </div>
      </div>
      <div class="m-4" id="output">
        <% if @doc %>
          <%== @doc.html_cache %>
        <% else %>
          <p class="text-secondary">Click the [Render] button above or press Ctrl+Enter (or Cmd+Return on ) to render a document.</p>
          <% if @docs&.any? %>
            <% if @user %>
              <p>
                Browse
                <%= current_user == @user ? "your" : @user.username + "'s public" %>
                documents:
              </p>
              <%= render partial: "shared/docs", locals: { docs: @docs } %>
            <% else %>
              <p>Browse all public documents:</p>
              <ul>
                <% @docs.group_by { |d| d.user }.each do |user, docs| %>
                  <li>
                    <%= link_to "User #{user.username}", "/#{user.username}" %>
                    <%= render partial: "shared/docs", locals: { docs: docs } %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <pre class="m-4 text-break" id="error"></pre>
    </div>
  </div>
</div>
