<%= form_with model: User.new, url: user_registration_path do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <em>(alphanumeric or underscore)</em>
    <%= f.text_field :username, autofocus: true, autocomplete: "username",
        required: true, pattern: "\\w+", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% minlength = Devise.password_length.min %>
    <em>(<%= minlength %> characters minimum)</em>
    <%= f.password_field :password, autocomplete: "new-password",
        required: true, minlength: minlength, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
        required: true, minlength: minlength, class: "form-control" %>
  </div>

  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>
